.menu {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: opacity 0.5s linear;
}

.menu__link:hover {
  opacity: 0.7;
}

.menu__link_type_login {
  color: #000;
  background: #2be080;
  border-radius: 3px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 544px) {
  .menu {
    gap: 14px;
  }

  .menu__link {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .menu__link_type_login {
    padding-right: 12px;
    padding-left: 12px;
  }
}
