.movies-card-list {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

.movies-card-list__cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  gap: 30px 24px;
  margin: 0;
  padding: 70px 0 30px;
  width: 1140px;
}

.movies-card-list__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 80px;
}

.movies-card-list__more-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border: none;
  padding: 11px 60px 9px;
  cursor: pointer;
}
