.movies {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

/* @media screen and (max-width: 920px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 586px) {
  .movies {
    padding: 0 10px;
  }
} */
