.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 396px;
}

.form_type_profile {
  width: 100%;
  margin: 123px auto 0;
  font-size: 0;
}

.form__error {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ff004c;
  text-align: center;
  min-height: 13px;
  width: 100%;
}

.form__submit-button {
  padding: 13px 126px 15px 124px;
  background-color: #ff6838;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin: 20px 0 16px;
  transition: opacity 0.5s linear;
}

.form__submit-button_type_profile {
  background: #3456f3;
  margin: 223px 0 16px;
  grid-column: 1/3;
}

.form__submit-button:disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
}

.form__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 920px) {
  .form_type_profile {
    margin: 96px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .form__submit-button_type_profile {
    margin: 213px 0 16px;
  }
}

@media screen and (max-width: 544px) {
  .form {
    width: 260px;
  }

  .form_type_profile {
    margin: 80px auto 0;
    justify-content: space-between;
    height: 100%;
  }

  .form__submit-button {
    padding: 15px 68px 15px 67px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 15px;
  }

  .form__submit-button_type_profile {
    margin: auto 0 0;
  }
}
