.promo {
  background-color: #465dff;
  padding: 0 0 50px;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

.promo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 50px 0 102px;
  padding: 0;
  max-width: 626px;
}

.promo__decoration {
  background-image: url('../../images/header_decoration.svg');
  width: 722px;
  height: 244px;
  border: none;
  align-self: flex-end;
}
