.app {
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
  background: #fff;
  color: #000;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
}

/* * {
  border: 1px solid red;
} */
