.page {
  background: #fff;
  color: #000;
  font-weight: 400;
}

.page__content {
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
}

/* * {
  border: 1px solid red;
} */
