.navigation {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-left: 24px;
  box-sizing: border-box;
}

.navigation__links {
  list-style: none;
  display: flex;
  margin: 3px 0 0;
}

.navigation__links_type_movies {
  width: 1058px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation__links_type_profile {
  width: 1058px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 17px 0 0;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
}

.navigation__link_type_login {
  color: #000000;
  background: #2be080;
  border-radius: 3px;
}

.navigation__link_type_movies {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding: 0;
}

.navigation__link_type_saved-movies {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding: 0;
  margin-left: 16px;
}

.navigation__link_type_account {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background: #f9f9f9;
  border-radius: 20px;
}
