.search-form {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  padding: 70px 0 10px;
  z-index: -1;
}

.search-form__content {
  max-width: 1140px;
  margin: 0 auto;
}

.search-form__form {
  position: relative;
}

.search-form__input {
  border: 1.5px solid #aaaaaa;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 25px 0 25px 25px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.search-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background: #fff;
  color: #a0a0a0;
  padding: 0;
  opacity: 1;
}

.search-form__input:focus {
  outline: 1px solid #465dff;
}

.search-form__submit-button {
  padding: 17px 0;
  width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #ff6838;
  border-radius: 5px;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.search-form__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1160px) {
  .search-form__content {
    max-width: 708px;
  }
}

@media screen and (max-width: 736px) {
  .search-form__content {
    max-width: 100%;
    padding: 0 14px;
  }

  .search-form__input {
    padding: 17px 0 17px 12px;
    font-size: 16px;
    line-height: 16px;
  }

  .search-form__input::placeholder {
    font-size: 16px;
    line-height: 16px;
    opacity: 1;
  }

  .search-form__submit-button {
    padding: 13px 0;
    width: 80px;
    right: 6px;
    top: 6px;
  }
}
