.header {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0;
}

.header__content {
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content_place_main {
  background-color: #465dff;
}

.header__content_place_movies {
  padding: 18px 0;
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header__content {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header__content_user_logged-in {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 544px) {
  .header__content {
    padding-right: 14px;
    padding-left: 14px;
  }
}
