.header {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  border: none;
}

.header__content {
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content_place_main {
  background-color: #465dff;
}

.header__content_place_movies {
  padding: 18px 0;
  max-width: 1140px;
  margin: 0 auto;
}
