.filter-checkbox {
  display: flex;
  margin-top: 26px;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  padding-bottom: 44px;
  border-bottom: 1px solid rgba(170, 170, 170);
}

.filter-checkbox__button {
  margin-right: 14px;
  background-color: transparent;
  background-image: url('../../images/filter-checkbox_smalltumb.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 36px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.filter-checkbox__text {
  margin: 0;
  padding: 0;
}
