.about-project {
  padding: 110px 70px;
  font-family: 'Inter';
}

.about-project__descriptions {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 70px 0 110px;
}

.about-project__descriptions-item {
  max-width: 550px;
  margin: 0;
  padding: 0;
}

.about-project__descriptions-title {
  margin-bottom: 26px;
}

.about-project__descriptions-text {
  font-size: 14px;
  line-height: 20px;
}

.about-project__schedule {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-project__schedule-title {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 9px 14px;
  width: 200px;
  background-color: #2be080;
}

.about-project__schedule-title_type_long {
  background-color: #f2f2f2;
  width: 912px;
}

.about-project__schedule-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}
