.register {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

.register__input-label {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.register__input {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  background: #f9f9f9;
  color: #000000;
  border-radius: 8px;
  border: none;
  padding: 15px;
  margin: 0;
}

.register__input:focus {
  outline: 1px solid #465dff;
}

.register__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a0;
}

.register__input_is_not-valid {
  color: #ee3465;
}

.register__error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-top: 8px;
  height: 12px;
}

.register__error:last-of-type {
  margin-top: 10px;
  margin-bottom: 69px;
}

@media screen and (max-width: 544px) {
  .register__error:last-of-type {
    margin-bottom: 157px;
  }
}
