.footer {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

.footer__content {
  background-color: #fafafa;
  padding: 79px 70px 20px;
  font-size: 0;
}

.footer__title {
  margin: 0;
  padding: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__date {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer__nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  transition: opacity 0.5s linear;
}

.footer__nav-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .footer__content {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #fff;
  }
}

@media screen and (max-width: 544px) {
  .footer__content {
    padding-right: 10px;
    padding-left: 10px;
  }

  .footer__title {
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
  }

  .footer__date {
    font-size: 12px;
    line-height: 15px;
    color: #a0a0a0;
  }

  .footer__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }

  .footer__nav-link {
    font-size: 12px;
    line-height: 15px;
  }
}
