.footer {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  padding: 79px 0 20px;
  box-sizing: border-box;
  background-color: #fafafa;
}

.footer__title {
  margin: 0;
  padding: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__date {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer__nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #000000;
}
