.techs {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  padding: 100px 0;
  background-color: #f5f5f5;
}

.techs__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 90px auto 26px;
}

.techs__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  width: 460px;
  margin: 0 auto 100px;
}

.techs__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

.techs__list-item {
  padding: 21px 26px 22px;
  background: #e8e8e8;
  border-radius: 10px;
}
