.login__input-label {
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.login__input {
  font-size: 13px;
  line-height: 16px;
  background: #f9f9f9;
  border-radius: 8px;
  border: none;
  padding: 15px;
  margin: 0;
}

.login__error {
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-top: 8px;
  height: 12px;
}

.login__error:last-of-type {
  margin-bottom: 172px;
}
