.login {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

.login__input-label {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.login__input {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  background: #f9f9f9;
  color: #000000;
  border-radius: 8px;
  border: none;
  padding: 15px;
  margin: 0;
}

.login__input:focus {
  outline: 1px solid #465dff;
}

.login__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a0;
}

.login__input_type_error {
  color: #ee3465;
}

.login__input_type_error:focus {
  outline: 1px solid #ee3465;
}

.login__error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-top: 8px;
  min-height: 12px;
}

.login__error_type_lower {
  margin-top: 10px;
  margin-bottom: 124px;
}

@media screen and (max-width: 544px) {
  .login__error_type_lower {
    margin-bottom: 212px;
  }
}
